@page "/my-cms-page-update/{Id:guid}"

@using Cb.Abp.GrapesJs.Blazor.Components.CmsKit
@using Volo.CmsKit.Permissions
@using Blazorise.Markdown
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@using Microsoft.AspNetCore.Authorization
@using Volo.CmsKit.Admin.Pages
@using Volo.CmsKit.Localization
@using Volo.Abp.DependencyInjection;

@attribute [Authorize(CmsKitAdminPermissions.Pages.Update)]

@inject AbpBlazorMessageLocalizerHelper<CmsKitResource> LH

@inherits GrapesJsComponentBase

<PageHeader Title="@L["Pages"]">

</PageHeader>

@if (EditingPage != null)
{
    <Card>
        <CardBody>
            <Form>
                <Validations @ref="@ValidationsRef" Model="@EditingPage" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"] *</FieldLabel>
                            <TextEdit @bind-Text="EditingPage.Title" Autofocus="true">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Slug"] *</FieldLabel>
                            <Tooltip Text="@L["PageSlugInformation"]">
                                <TextEdit @bind-Text="EditingPage.Slug" Autofocus="false">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Tooltip>
                        </Field>
                    </Validation>
                    <ExtensionProperties TEntityType="UpdatePageInputDto" TResourceType="CmsKitResource" Entity="@EditingPage" LH="@LH" ModalType="ExtensionPropertyModalType.EditModal" />
                </Validations>

                <Tabs @bind-SelectedTab="@SelectedTab" RenderMode="TabsRenderMode.LazyLoad">
                    <Items>
                        <Tab Name="content">@L["Content"]</Tab>
                        <Tab Name="script">@L["Script"]</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="content">
                            <MyCmsContentBuilderComponent @ref="@ContentBuilder" @bind-Value="@EditingPage.Content" @bind-Css="@EditingPage.Style" />
                        </TabPanel>
                        <TabPanel Name="script">
                            <Markdown @bind-Value="@EditingPage.Script" LineNumbers="true" HideIcons="@HideIcons" AutoDownloadFontAwesome="false" UploadImage="false">
                                <Toolbar>
                                    <MarkdownToolbarButton Action="MarkdownAction.Bold"/>
                                </Toolbar>
                            </Markdown>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Form>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Primary" Clicked="@UpdatePageAsync">@L["Submit"]</Button>
        </CardFooter>
    </Card>
}
